<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mission confidentielle</title>
</head>

<body>
    <div style="font-family: Courier New, monospace; margin: 0 auto; max-width: 600px;">
        <h2 style="color: #1f3864;">Mission confidentielle</h2>
        <p>Bonjour Agent·e {{criminel}},</p>

        <p>Nous avons une mission cruciale qui nécessite votre expertise. Votre objectif est d'attaquer une personne.
            Voici les détails de la mission :</p>

        <h3 style="color: #1f3864;">Cible à attaquer :</h3>
        <ul>
            <li><strong>Cible :</strong> {{victime}}</li>
            <li><strong>Arme :</strong> {{arme}}</li>
            <li><strong>Localisation :</strong> {{lieu|default("Inconnu", true)}}</li>
        </ul>

        <p>Assurez-vous de prendre toutes les précautions nécessaires et d'agir avec discrétion tout au long de la
            mission. Votre succès dépendra de votre capacité à vous adapter aux situations imprévues.</p>

        <p>Restez vigilant·e et bon courage.</p>

        <p>Cordialement,</p>
        <p>La direction</p>
    </div>
</body>

</html>