<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Misión confidencial</title>
</head>

<body>
    <div style="font-family: Courier New, monospace; margin: 0 auto; max-width: 600px;">
        <h2 style="color: #1f3864;">Misión confidencial</h2>
        <p>Hola Agente {{criminel}},</p>

        <p>Tenemos una misión crucial que requiere tu experiencia. Tu objetivo es eliminar a una persona. Aquí están los
            detalles de la misión:</p>

        <h3 style="color: #1f3864;">Objetivo que tiene que eliminar:</h3>
        <ul>
            <li><strong>Objetivo:</strong> {{victime}}</li>
            <li><strong>Arma:</strong> {{arme}}</li>
            <li><strong>Localización:</strong> {{lieu|default("Indefinida", true)}}</li>
        </ul>

        <p>Asegúrate de tomar todas las precauciones necesarias y de actuar con discreción durante toda la misión. Tu
            éxito dependerá de tu capacidad para adaptarte a situaciones inesperadas.
        </p>

        <p>Mantente alerta y buena suerte.</p>

        <p>Atentamente,</p>
        <p>La dirección</p>
    </div>
</body>

</html>